.wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container-carrossel {
    display: flex;
}

.item {
    width: 250px;
    padding: 30px 14px;
}

.item img {
    width: 100%;
    pointer-events: none;
}

.item p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

.carrossel {
    cursor: grab;
    overflow: hidden;
}