@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.pesquisa {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-pesquisa {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #E7E7E7;
}

.barra-pesquisa {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 88%;
  text-align: left;
  color: rgba(90, 90, 90, 60);
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #E7E7E7;
}

.barra-pesquisa:focus {
  outline: none;
}

.input-img {
  position: relative;
  right: 20px;
  cursor: pointer;
}
