.wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}


.container-carrossel {
    display: flex;
}

.item {
    min-height: 200px;
    min-width: 200px;
    padding: 30px 14px;
}

.item img {
    width: 100%;
    pointer-events: none;
}

.carrossel {
    cursor: grab;
    overflow: hidden;
}