.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid lightgray;
    z-index: 9999;

}

.burger-menu {
    background: none;
    border: none;
    font-size: 2.6rem;
    cursor: pointer;
    border-radius: 2rem;
    padding-right: 2rem;
    transition: 0.2s ease-in-out;
    color: rgb(41, 150, 41);
  }

  .burger-menu:hover{
    scale: 1.1;
  }
  
  .menu-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px; 
    right: 26px;
    background-color: white;
    border: 1px solid rgb(41, 150, 41);
    padding: 20px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    align-items: end;
    font-size: 1.2rem;
    gap: 0.5rem;
    

  }
  
  .menu-links a {
    text-decoration: none;
    color: rgb(24, 83, 24);
    margin-bottom: 5px;
    transition: 0.2s ease-in-out;

  }
  
  .menu-links a:hover {
    color: #555;
    text-shadow: 0px 0.2px 0.8px rgb(19, 185, 33) ;
    

  }
  
  .logo-img{
    width: 6rem;
    height: auto;
    padding-left: 2rem;
    transition: 0.2s ease-in-out;
  }

  .logo-img:hover{
    scale: 1.1;
    transform: rotate(-6deg);

  }