.botao {
    background-color: orangered;
    color: white;
    width: 18em;
    padding: 1rem 0;
    margin-top: 2rem;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
}

.botoes-config {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
