.botao {
    background-color: orangered;
    color: white;
    width: 18em;
    padding: 1rem 0;
    margin-top: 2rem;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.botoes-idioma {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao:hover {
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
    padding: 0.89rem 0;
}